 p {
  margin: 15px;
  width; 5px;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
}
.img {border-style: dashed;

border-width: 5px;

  border-color: blue;

 margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px


.h1 {
  font-family: "Palatino", serif;
  color=green 

}
.h2 {
  font-family: "Courier", monospace;
  color=pink

}
.p.fancy{

border-color: orange;
background-color: lightyellow;

}

}